# 1. Preprocesamiento
De tal manera a obtener una tabla con los alumnos de cursos basicos
de la carrera de ing. Mecatronica

In [1]:
import numpy as np
import pandas as pd

In [13]:
dataframe = pd.read_csv("datosConcatenadossinCI.csv")
dataframe = dataframe.iloc[:,1:]

In [14]:
dataframe.head()

,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,Aprobado,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,N,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_0
1,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,S,...,14,8,0,0,1F-5,0.0,1.0,NaN,NaN,es_1
2,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,S,...,23,9,0,0,1F-5,0.0,1.0,NaN,NaN,es_2
3,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,S,...,14,8,0,0,"1F-1,2F-2",0.0,1.0,NaN,NaN,es_3
4,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,N,...,4,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4

In [15]:
# nuevo dataframe de Mecatronica
flag_carrera_09 = dataframe["Cod.Car.Sec"]=="MCT-PLS09 "
flag_carrera_13 = dataframe["Cod.Car.Sec"]=="MCT-PLS13 "
flag_carrera = flag_carrera_09 | flag_carrera_13
mct = dataframe[flag_carrera]

In [16]:
mct.head()

,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,Aprobado,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
736,2012,1,5017,DINAMICA,MCT-PLS09,4,1,2012,1,S,...,24,0,0,0,1F-4,0.0,1.0,NaN,NaN,es_494
752,2012,1,5017,DINAMICA,MCT-PLS09,4,1,2012,1,N,...,0,0,0,0,NaN,0.0,0.0,NaN,NaN,es_207
773,2012,1,5017,DINAMICA,MCT-PLS09,4,1,2012,1,S,...,26,0,0,0,1F-5,0.0,1.0,NaN,NaN,es_511
797,2012,1,5017,DINAMICA,MCT-PLS09,4,1,2012,1,S,...,21,0,36,0,2F-2,0.0,1.0,NaN,NaN,es_524
836,2012,1,5017,DINAMICA,MCT-PLS09,4,1,2012,1,S,...,28,0,0,0,1F-5,0.0,1.0,NaN,NaN,es_545

In [17]:
cursos_cb_mct = [1,2,3,4] # codigo de cursos de cursos basicos
mct_cb = pd.DataFrame(columns=mct.columns) # dataframe con los alumnos de cursos basicos 
for cur in cursos_cb_mct:
     mct_cb = pd.concat([mct_cb, mct[mct["Cod.Curso"]==cur]], axis=0)

In [18]:
mct_cb

,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,Aprobado,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
13931,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,S,...,24,3,0,0,1F-2,0.0,1.0,NaN,NaN,es_1366
13934,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,N,...,6,1,0,0,NaN,0.0,1.0,NaN,NaN,es_1510
13941,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,N,...,6,3,0,0,NaN,0.0,1.0,NaN,NaN,es_1514
13951,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,N,...,18,4,0,0,"1F-1,2F-1",0.0,1.0,NaN,NaN,es_1431
13978,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,S,...,22,3,39,0,2F-2,0.0,1.0,NaN,NaN,es_1539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219160,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,0,5,0,0,NaN,0.0,1.0,NaN,NaN,es_4312
219161,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,31,10,0,0,NaN,0.0,1.0,NaN,NaN,es_4108
219162,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,36,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4502
219163,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_4167
219164,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,35,9,0,0,NaN,0.0,1.0,NaN,NaN,es_4519

In [19]:
materias=np.unique(mct_cb['Asignatura'])
materias

array(['ALGEBRA LINEAL 1', 'ALGEBRA LINEAL 2', 'CALCULO 1', 'CALCULO 2',
       'CALCULO 3', 'COMPUTACION', 'DIBUJO TECNICO', 'DINAMICA',
       'ELECTRICIDAD Y CIRCUITOS ELECTRICOS', 'ELECTROMAGNETISMO 1',
       'ESTATICA', 'FISICA 1', 'FISICA 2', 'FISICA 3',
       'FISICA DE SEMICONDUCTORES', 'GEOMETRIA ANALITICA',
       'GEOMETRIA DESCRIPTIVA', 'METODOS NUMERICOS',
       'PROBABILIDAD Y ESTADISTICA', 'PROBABILIDAD Y ESTADISTICA ',
       'PROGRAMACION ORIENTADA A OBJETOS', 'QUIMICA GENERAL',
       'TEORIA DE CIRCUITOS'], dtype=object)

In [20]:
cant=np.unique(mct_cb['id_anony']) #alumnos de cb
print(len(cant)) #cantidad

632

## 1.1 Cambio de formato de notas finales 
las notas inicialmente se encuentran con el siguente formato: "1F-1,2F-1"
utilice una funcion que recorre la cadena y retorna el promedio de la misma
si esta es no vacia, caso contrario le asigna 0 a la misma

In [23]:
import statistics
def cambiar_nota(a): #funcion que retorna el promedio de las notas
    notas=[]
    j=""
    for i in a:
        if(j=="-"):
            if(i=="C" or  i=="D"):
                pass
            else:
                notas.append(int(float(i)))
        j=i
    mean = statistics.mean(notas)
    return mean

In [24]:
MCT_CB = mct_cb.copy(deep=True)

In [25]:
MCT_CB[['Nota.Final']] = MCT_CB[['Nota.Final']].fillna('f-0')
MCT_CB['Nota.Final'] = MCT_CB['Nota.Final'].apply(cambiar_nota)
MCT_CB

,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,Aprobado,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
13931,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,S,...,24,3,0,0,2.0,0.0,1.0,NaN,NaN,es_1366
13934,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,N,...,6,1,0,0,0.0,0.0,1.0,NaN,NaN,es_1510
13941,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,N,...,6,3,0,0,0.0,0.0,1.0,NaN,NaN,es_1514
13951,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,N,...,18,4,0,0,1.0,0.0,1.0,NaN,NaN,es_1431
13978,2012,2,9001,CALCULO 1,MCT-PLS09,1,1,2012,2,S,...,22,3,39,0,2.0,0.0,1.0,NaN,NaN,es_1539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219160,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,0,5,0,0,0.0,0.0,1.0,NaN,NaN,es_4312
219161,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,31,10,0,0,0.0,0.0,1.0,NaN,NaN,es_4108
219162,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,36,8,0,0,0.0,0.0,1.0,NaN,NaN,es_4502
219163,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,0,0,0,0,0.0,0.0,1.0,NaN,NaN,es_4167
219164,2021,1,13705,PROGRAMACION ORIENTADA A OBJETOS,MCT-PLS13,4,1,2021,1,N,...,35,9,0,0,0.0,0.0,1.0,NaN,NaN,es_4519

In [28]:
MCT_CB.to_csv('cb_mct.csv', index=False)

In [30]:
# hasta aqui el preprocesamiento